# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# MSBuild Binary and Structured Log
*.binlog

# Node
node_modules/

# PCF build
out/
dist/

# .NET build
bin/
obj/
solution/bin/
solution/obj/

# VS
.vs/
*.user